body, table {
    font-family: Tahoma;
    font-size:11px;
}

table.event-list {
    border: 1px solid grey;
}

table.event-list td {
    border: 1px solid grey;
    vertical-align: top;
    padding-left: 5px;
    padding-right: 5px;
}

table.keyvalue-list {
    border: 1px solid lightgrey;
}

table.keyvalue-list td {
    border: 1px solid lightgrey;
}
